.appWrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.app {
  background: white;
  font-family: "Raleway", sans-serif;
  border-style: solid;
  border-radius: 30px;
  border-color: #749b9b;
  border-width: 0.7px;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  padding-top: 30px;
  line-height: 22px;
}

.vertical {
  border-left: 1px solid #3b5a63;
  height: 90px;
  position: absolute;
}

hr.listStart {
  border: 0.5px solid #3b5a63;
  margin-top: 30px;
  width: 900px;
}

#forecast {
  padding: 10px;
  margin-top: 30px;
}

.verticalLine {
  border-left: 1px solid #3b5a63;
  height: 90px;
  position: absolute;
}

.forecastDayOfWeek:hover {
  opacity: 60%;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.minTemp {
  opacity: 60%;
}

.sourceCode {
  margin-left: 300px;
}

.codeLink {
  color: #749b9b;
}
.codeLink:hover {
  color: #3b5a63;
  cursor: pointer;
  font-size: 18px;
  transition: 150ms ease-in-out;
}
