.searchForm {
  font-family: "Work Sans", sans-serif;
}

#searchCity {
  width: 200px;
  background-color: #caecec;
  border-color: #749b9b;
  margin-left: 250px;
}

#searchCity:hover {
  cursor: pointer;
  transition: 150ms ease-in-out;
}

#buttonGo:hover {
  background-color: #749b9b;

  cursor: pointer;
  transition: 150ms ease-in-out;
}
