ul {
  list-style: none;
}
#celsius {
  color: black;
}

#fahrenheit {
  color: black;
}

#today {
  font-family: "Work Sans", sans-serif;
  margin-top: 10px;
  margin-left: 140px;
}

#todayList {
  margin-left: 115px;
  padding-left: 0;
}

#celsius {
  color: black;
  border: none;
  background-color: white;
}

#fahrenheit {
  color: black;
  border: none;
  background-color: white;
}

#celsius:hover {
  opacity: 60%;
  transition: 150ms ease-in-out;
  cursor: pointer;
  font-size: 20px;
}

#fahrenheit:hover {
  opacity: 60%;
  transition: 150ms ease-in-out;
  cursor: pointer;
  font-size: 20px;
}
